.hidden {
    display: none !important;
    visibility: none !important;
}

/* Criação de chefe militar */
#grupo-militar-create, #lider-politico-create, #divisao-create{
    display: block;
}

#new-grupo-militar-actions, #new-lider-politico-actions, #new-divisao-actions{
    display: inline-block;
}